{% extends "portfolio/student_base.html" %}

{% block sub-content %}
    <div class="col-lg-9">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-data__tool">
                    <div class="table-data__tool-left">
                        <button class="au-btn au-btn-icon au-btn--blue au-btn--small" onclick="">
                            Export PDF
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {% for session in sessions %}
                    <div class="card">
                        <div class="card-header">
                            <h4>Session {{ session.pk }}</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-md-3">Counselor</div>
                                        <div class="col-md-9">{{ session.counselor.name }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">Venue</div>
                                        <div class="col-md-9">{{ session.venue }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">Remarks</div>
                                        <div class="col-md-9">{{ session.remarks }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">Date</div>
                                        <div class="col-md-9">{{ session.counseled_date }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
