{% extends "base.html" %}

{% block head-title %} <title>About Us</title> {% endblock %}

{% load static %}

{% block main-content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title mb-3">Beneficiary</strong>
                </div>
                <div class="card-body">
                    <div class="mx-auto d-block">
                        <img class="mx-auto d-block" src="{% static 'images/contributors/iqra.png' %}"
                             alt="Card image cap">
                        <h5 class="text-sm-center mt-2 mb-1">Project Iqra'</h5>
                    </div>
                    <hr>
                    <div class="card-text">
                        <p>
                            Projek Iqra' is a Malaysia based non-profit organization focusing on education
                            and well-being of less fortunate children and teenagers who are living in
                            community and orphanage. Projek Iqra' is registered under the Registrar of
                            Society on 25th January 2013 (Reg no: PPM-006-14-25012013)
                        </p>
                        <br/>
                        <p>
                            Projek Iqra' was founded by Muhammad Solleh bin Mahfoz, Sharifah Sharina Bt Syed
                            Aswad and Suhaimi Abdul Manan in year 2012. The founders studied together in
                            Universiti Teknologi Malaysia in Kuala Lumpur.
                        </p>
                        <br/>
                        <p>
                            The idea to form Projek Iqra' came up when seeing many children and teenagers in
                            orphanage and community needed help in academic but cannot afford to pay for
                            private tuition. There are also many people who wanted to help but do not know
                            how.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title mb-3">Contributor</strong>
                </div>
                <div class="card-body">
                    <div class="mx-auto d-block">
                        <img class="rounded-circle mx-auto d-block"
                             src="{% static 'images/contributors/20190927_092242.jpg' %} "
                             alt="Izzat">
                        <h5 class="text-sm-center mt-2 mb-1">Izzat Amal</h5>
                        <div class="location text-sm-center">Project Manager</div>
                    </div>
                    {#                                <hr>#}
                    {#                                <div class="card-text text-sm-center">#}
                    {#                                    <a href="#">#}
                    {#                                        <i class="fa fa-facebook pr-1"></i>#}
                    {#                                    </a>#}
                    {#                                    <a href="#">#}
                    {#                                        <i class="fa fa-twitter pr-1"></i>#}
                    {#                                    </a>#}
                    {#                                    <a href="#">#}
                    {#                                        <i class="fa fa-linkedin pr-1"></i>#}
                    {#                                    </a>#}
                    {#                                    <a href="#">#}
                    {#                                        <i class="fa fa-pinterest pr-1"></i>#}
                    {#                                    </a>#}
                    {#                                </div>#}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title mb-3">Contributor</strong>
                </div>
                <div class="card-body">
                    <div class="mx-auto d-block">
                        <img class="rounded-circle mx-auto d-block"
                             src="{% static 'images/contributors/empty.png' %} "
                             alt="Izzat">
                        <h5 class="text-sm-center mt-2 mb-1">This Could Be You!</h5>
                        <div class="location text-sm-center">Developer</div>
                    </div>
                    {#                                <hr>#}
                    {#                                <div class="card-text text-sm-center">#}
                    {#                                    <a href="#">#}
                    {#                                        <i class="fa fa-facebook pr-1"></i>#}
                    {#                                    </a>#}
                    {#                                    <a href="#">#}
                    {#                                        <i class="fa fa-twitter pr-1"></i>#}
                    {#                                    </a>#}
                    {#                                    <a href="#">#}
                    {#                                        <i class="fa fa-linkedin pr-1"></i>#}
                    {#                                    </a>#}
                    {#                                    <a href="#">#}
                    {#                                        <i class="fa fa-pinterest pr-1"></i>#}
                    {#                                    </a>#}
                    {#                                </div>#}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title mb-3">Contributor</strong>
                </div>
                <div class="card-body">
                    <div class="mx-auto d-block">
                        <img class="rounded-circle mx-auto d-block"
                             src="{% static 'images/contributors/20190927_092832.jpg' %} "
                             alt="Izzat">
                        <h5 class="text-sm-center mt-2 mb-1">Nadia Jamaludeen</h5>
                        <div class="location text-sm-center">UX Developer</div>
                    </div>
                    {#                                <hr>#}
                    {#                                <div class="card-text text-sm-center">#}
                    {#                                    <a href="#">#}
                    {#                                        <i class="fa fa-facebook pr-1"></i>#}
                    {#                                    </a>#}
                    {#                                    <a href="#">#}
                    {#                                        <i class="fa fa-twitter pr-1"></i>#}
                    {#                                    </a>#}
                    {#                                    <a href="#">#}
                    {#                                        <i class="fa fa-linkedin pr-1"></i>#}
                    {#                                    </a>#}
                    {#                                    <a href="#">#}
                    {#                                        <i class="fa fa-pinterest pr-1"></i>#}
                    {#                                    </a>#}
                    {#                                </div>#}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title mb-3">Contributor</strong>
                </div>
                <div class="card-body">
                    <div class="mx-auto d-block">
                        <img class="rounded-circle mx-auto d-block"
                             src="{% static 'images/contributors/20190927_092520.jpg' %} "
                             alt="Izzat">
                        <h5 class="text-sm-center mt-2 mb-1">Jundullah Ismail</h5>
                        <div class="location text-sm-center">Developer</div>
                    </div>
                    {#                                <hr>#}
                    {#                                <div class="card-text text-sm-center">#}
                    {#                                    <a href="#">#}
                    {#                                        <i class="fa fa-facebook pr-1"></i>#}
                    {#                                    </a>#}
                    {#                                    <a href="#">#}
                    {#                                        <i class="fa fa-twitter pr-1"></i>#}
                    {#                                    </a>#}
                    {#                                    <a href="#">#}
                    {#                                        <i class="fa fa-linkedin pr-1"></i>#}
                    {#                                    </a>#}
                    {#                                    <a href="#">#}
                    {#                                        <i class="fa fa-pinterest pr-1"></i>#}
                    {#                                    </a>#}
                    {#                                </div>#}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title mb-3">Contributor</strong>
                </div>
                <div class="card-body">
                    <div class="mx-auto d-block">
                        <img class="rounded-circle mx-auto d-block"
                             src="{% static 'images/contributors/20190927_093247.jpg' %} "
                             alt="Izzat">
                        <h5 class="text-sm-center mt-2 mb-1">Sridev Kumar</h5>
                        <div class="location text-sm-center">Developer</div>
                    </div>
                    {#                                <hr>#}
                    {#                                <div class="card-text text-sm-center">#}
                    {#                                    <a href="#">#}
                    {#                                        <i class="fa fa-facebook pr-1"></i>#}
                    {#                                    </a>#}
                    {#                                    <a href="#">#}
                    {#                                        <i class="fa fa-twitter pr-1"></i>#}
                    {#                                    </a>#}
                    {#                                    <a href="#">#}
                    {#                                        <i class="fa fa-linkedin pr-1"></i>#}
                    {#                                    </a>#}
                    {#                                    <a href="#">#}
                    {#                                        <i class="fa fa-pinterest pr-1"></i>#}
                    {#                                    </a>#}
                    {#                                </div>#}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title mb-3">Contributor</strong>
                </div>
                <div class="card-body">
                    <div class="mx-auto d-block">
                        <img class="rounded-circle mx-auto d-block"
                             src="{% static 'images/contributors/20190927_099999.jpg' %} "
                             alt="Izzat">
                        <h5 class="text-sm-center mt-2 mb-1">Hazelina Jalen</h5>
                        <div class="location text-sm-center">Developer</div>
                    </div>
                    {#                                <hr>#}
                    {#                                <div class="card-text text-sm-center">#}
                    {#                                    <a href="#">#}
                    {#                                        <i class="fa fa-facebook pr-1"></i>#}
                    {#                                    </a>#}
                    {#                                    <a href="#">#}
                    {#                                        <i class="fa fa-twitter pr-1"></i>#}
                    {#                                    </a>#}
                    {#                                    <a href="#">#}
                    {#                                        <i class="fa fa-linkedin pr-1"></i>#}
                    {#                                    </a>#}
                    {#                                    <a href="#">#}
                    {#                                        <i class="fa fa-pinterest pr-1"></i>#}
                    {#                                    </a>#}
                    {#                                </div>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}